/* Footer ka main container */
footer {
  margin-top: 10vmax; /* upar se space */
  padding: 2vmax; /* andar ka space */
  background-color: #222121; /* dark grey background */
  color: white; /* text white */
  display: flex; /* 3 parts ko side by side karne ke liye */
  align-items: center; /* vertical center */
}

/* ------------ LEFT FOOTER ------------ */
.leftFooter {
  width: 20%; /* total width ka 20% lega */
  display: flex;
  flex-direction: column; /* sab niche niche arrange */
  align-items: center; /* beech me center */
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-size: 1vmax; /* responsive size */
}
.leftFooter > p {
  text-align: center; /* beech me text */
  font-size: 1.2vmax;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax; /* images ka size */
  margin: 1vmax; /* thoda gap */
  cursor: pointer; /* hover pe pointer banega */
  transition: transform 0.3s;
}
.leftFooter > img:hover {
  transform: scale(1.1); /* hover effect zoom */
}

/* ------------ MID FOOTER ------------ */
.midFooter {
  width: 60%; /* sabse bada part */
  text-align: center; /* content center me */
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  color: #eb4034; /* highlight color */
}
.midFooter > p {
  max-width: 60%; /* text zyada wide na ho */
  font-family: "Gill Sans MT", Calibri, sans-serif;
  margin: 1vmax auto; /* auto -> beech me */
}

/* ------------ RIGHT FOOTER ------------ */
.rightFooter {
  width: 20%; /* total width ka 20% */
  display: flex;
  flex-direction: column; /* niche niche arrange */
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline; /* underline for heading */
}
.rightFooter > a {
  text-decoration: none; /* underline hata diya */
  font-size: 1.3vmax;
  font-family: "Gill Sans MT", Calibri, sans-serif;
  color: white;
  transition: all 0.5s; /* smooth hover */
  margin: 0.5vmax;
}
.rightFooter > a:hover {
  color: #eb4034; /* hover pe red */
}

/* ------------ GLOBAL IMAGE STYLE ------------ */
.leftFooter img {
  height: 50px;
  width: 50px; /* default image height */
}
